.page-content__wrap {
  height: 100vh;
  min-height: 800px;
  width: 100%;
  @include display-flex();
  @include ai-flex-center();
  @include jc-flex-center();
  overflow: hidden;
  padding: 100px 70px;

  @include respond-max(1024) {
    padding: 30px 15px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
  }
  @include respond-max(576) {
    padding: 30px 15px;
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .page-content__wrap {
    padding: 50px;
  }
}

.page-content {
  @include square(100%);
  position: relative;
  padding: 20px 50px;

  @include respond-max(1024) {
    min-height: 550px;
    border: none;
    padding: 0;
  }
}

/*---------Landing page---------*/

.page-content__wrap{
  //opacity: 0;
  &.was-animated{
    .page-nav{
      opacity: 1;
    }
  }
}

.page-content.landing-page{
  @include display-flex();
  @include ai-flex-center();
  @include flex-wrap();

  @include respond-max(1024){
    @include flex-nowrap();
    @include flex-direction-col();
    @include jc-space-between();
  }
}


/*---------Inner pages---------*/
.page-content__wrap.inner-pages{

  @include respond-max(1024){
    height: auto;
  }
}

.page-content.inner-pages{
  padding: 100px 70px 20px;

  @include respond-max(1024){
    //padding-top: 50px;
  }
  @include respond-max(1024){
    height: auto;
    padding: 0;
  }
}

.inner-pages__container{
  padding: 0 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  //padding-top: 90px;
}
