.page-content__wrap {
  height: 100vh;
  min-height: 800px;
  width: 100%;
  @include display-flex();
  @include ai-flex-center();
  @include jc-flex-center();
  overflow: hidden;
  padding: 100px 70px;
  opacity: 0;

  &.was-animated {
    .header {
      opacity: 1;
    }
  }

  &.was-animated {
    .page-nav {
      opacity: 1;
    }
    .landing__frame {
      opacity: 1;
    }
    .page-socials {
      opacity: 1;
    }
  }
  @include respond-max(1024) {
    padding: 30px 15px 100px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    border: 3px solid $textColor;
  }

  @include respond-max(576) {
    padding: 30px 15px;
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .page-content__wrap {
    padding: 50px 70px;
  }
}

.page-content {
  @include square(100%);
  position: relative;
  padding: 20px 50px;

  @include respond-max(1024) {
    min-height: 550px;
    border: none;
    padding: 0;
  }
}

.copyright{
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 12px;

  @include respond-max(1024){
    display: none;
  }
}

/*---------Inner pages---------*/
.page-content__wrap.inner-pages {

  @include respond-max(1024) {
    height: auto;
  }
}

.page-content.inner-pages {
  padding: 100px 70px 20px;

  &.p-100 {
    padding: 100px 70px;
  }

  @include respond-max(1024) {
    height: auto;
    padding: 0;

    &.p-100 {
      padding: 0;
    }
  }
}

.inner-pages__container {
  padding: 0 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  @include respond-max(1024) {
    padding: 0;
  }
}

/*--------Landing page---------*/

.page-content__wrap.landing-page{
  overflow-y: hidden;
  @include respond-max(576){
    background: url("#{$imgUrl}general/bg.jpg")repeat center /cover;
  }
}
@media screen and (max-width: 1024px) and (max-height: 812px) and (orientation: landscape){
  .page-content__wrap.landing-page {
    overflow-y: visible;
  }
}
.page-content.landing-page {
  @include display-flex();
  @include ai-flex-center();
  @include flex-wrap();

  @include respond-max(1024) {
    @include flex-nowrap();
    @include flex-direction-col();
    //@include jc-space-between();
    @include jc-flex-center();
  }
}

/*---------work detail page---------*/

.page-content__wrap.work-detail-page {
  height: auto;
}

.page-content.work-detail-page {
  min-height: 700px;
  padding: 70px 0 50px 70px;

  @include respond-max(1024) {
    display: block;
    padding: 0;
  }
}

/*---------clients page---------*/

.page-content.clients-page {
  padding-right: 30px;

  @include respond-max(1024) {
    padding-right: 0;
  }
}

/*---------About-Services page---------*/
.page-content__wrap.about-page {
  padding: 70px;
  @include respond-max(1024) {
    padding: 30px 15px 100px;
  }
}

.page-content__wrap.services-page {
  padding: 70px;
  @include respond-max(1024) {
    padding: 30px 15px 100px;
  }
}

.page-content.about-page {
  padding: 50px 0 50px 70px;
  @include respond-max(1024) {
    padding: 0;
  }
}

.page-content.services-page {
  padding: 50px 0 50px 70px;
  @include respond-max(1024) {
    padding: 0;
  }
}

/*---------Contact---------*/
.page-content.contact-page {
  padding: 50px 0 50px 70px;
  @include respond-max(1024) {
    padding: 0;
  }
}

