.form__input-wrap {
  width: 100%;
  margin-bottom: 15px;
}

.form__input {
  display: block;
  width: 100%;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  @include display-flex();
  @include ai-flex-center();
  height: 32px;
  padding-left: 13px;
  color: #888888;
  font-size: 17px;

  @include input-placeholder {
    color: inherit;
    font-size: inherit;
  }
}

.form__textarea-wrap {
  width: 100%;
  margin-bottom: 15px;
}

.form__textarea {
  width: 100%;
  font-size: 17px;
  min-height: 80px;
  padding-left: 13px;
  padding-top: 5px;
  color: #888888;
  resize: vertical;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.5);

  @include input-placeholder {
    color: inherit;
    font-size: inherit;
  }
}

.form__btn-wrap {
  width: 100%;
}

.form__btn {
  @include display-flex();
  @include jc-flex-center();
  min-width: 90px;
  padding: 5px;
  text-align: center;
  margin-left: auto;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  @include transition-03();
  border: 2px solid #000;
  box-shadow: none;

  &:hover, &:focus, &:active {
    border: 2px solid #fff;
    background-color: rgba(50, 53, 54, 0.8);
    color: #fff;
  }
}