body,
html {
  height: auto;
  &.no-scroll {
    overflow: hidden;
    max-height: 100%;
  }
}

body {
  overflow-x: hidden;
  max-width: 100%;
  background: url("#{$imgUrl}general/bg.jpg")repeat center /cover;

  @include respond-max(1024){
    background: url("#{$imgUrl}general/bg-mob.jpg")repeat-y center /100% auto;
  }
}

.is-mobile{
  display: block;

  @include respond-min(1025){
    display: none;
  }
}

.is-mobile__landing{
  display: block;

  @include respond-min(768){
    display: none;
  }
}
