.header{
  display: none;
  width: 100%;
  z-index: 5;
  @include ai-flex-center();

  &.is-visible{
    z-index: 110;
  }

  @include respond-max(768){
    @include display-flex();
  }
}

.page__logo {
  display: block;
  width: 50px;
  max-width: 50px;
  img {
    width: 50px;
  }
}

.header__separator{
  background: url("#{$imgUrl}general/separator.svg")no-repeat center /cover;
  height: 2px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0 30px;
}


/*hamburger*/
.hamburger {
  display: block;
  @include transition-03();
  margin-left: auto;

  &.is-active {
    z-index: 101;

    .line {
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s;
      &:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        -o-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }

  &:hover {
    cursor: pointer;
    .line {
      //background-color: $goldColor;
    }
  }

  .line {
    width: 35px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

