.page-nav {
  position: absolute;
  //background: url("#{$imgUrl}general/bg.jpg")no-repeat 4% 16%/1600px 900px;
  top: 35px;
  left: -42px;
  width: auto;
  padding: 30px 0 50px;
  @include transform-origin(right);
  @include transition-04();
  z-index: 10;

  &:before {
    content: '';
    display: block;
    position: absolute;
    //top: -35px;
    //left: 0;
    //right: 0;
    //margin: auto;
    //width: 2px;
    //height: 35px;
    //background-color: $textColor;
  }
  &:after {
    //content: '';
    //display: block;
    //position: absolute;
    //top: 100%;
    //left: 0;
    //right: 0;
    //margin: auto;
    //width: 2px;
    //height: calc(100vh - 200px - 55px - 398px);
    //margin-top: 20px;
    //background-color: $textColor;
  }

  @include respond-max(1400) {
    &:after {
      height: calc(100vh - 200px - 35px - 398px);
      margin-top: 0;
    }
  }
  @include respond-max(768) {
    position: fixed;
    top: 0;
    left: 0 !important;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
    background: url("#{$imgUrl}general/bg.jpg") no-repeat center /cover;
    @include translateX(100%);
    &:before, &:after {
      display: none;
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
      z-index: 100;
      @include translateX(0);
    }
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .page-nav {
    left: -42px;

    &:after {
      height: 267px;
    }
  }
}

.page-nav__list {
  @include transition-03();
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  @include font-size(17); // 15px
  font-weight: 600;
  text-transform: uppercase;

  @include respond-max(1025) {
    position: relative;
  }
  @include respond-max(768) {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.page-nav__list-item {
  display: block;
  margin-bottom: 20px;
  max-width: 140px;
  @include center();
  &.page-nav__logo {
    width: 60px;
    img {
      width: 100%;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover, &:focus, &:active {
    .page-nav__list-link {
      color: #fff;
    }
    &.is-active {
      .page-nav__list-link {
        color: $textColor;
      }
    }
  }
  &.is-active {
    border: 2px solid #171819;
    background: rgba(247, 246, 245, 0.5);
    padding: 3px 20px;
    @include box-shadow-custom();
    .page-nav__list-link {
      font-weight: 100;
    }
  }
  @include respond-max(768) {
    max-width: 120px;
    @include center();
    &:first-of-type {
      display: none;
    }
  }
}

.page-nav__list-link {
  display: block;
  text-transform: uppercase;
  color: $textColor;
  letter-spacing: 2px;
  @include transition-03();

  &:hover, &:focus, &:active {
    .page-nav__list-svg {
      text {
        paint-order: stroke;
        stroke: #000;
        stroke-width: 2px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
      }
    }
  }
}

.page-nav__list-svg {
  font-weight: 700;
  font-family: $baseFontFamily;
  fill: $textColor;
  font-size: 15px;
  @include transition-03();
  @include square(100%);

  text {
    font-weight: 700;
    font-family: $baseFontFamily;
    fill: $textColor;
    font-size: 15px;
    @include transition-03();
  }
}

/*============Landing page nav============*/
.page-nav.landing-page {
  &:before, &:after {
    display: none;
  }
  &:before {
    //display: block;
    top: -42px;
    left: 40px;
    right: 0;
    height: 45px;
    width: calc(100vw - 452px - 47px - 131px);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("#{$imgUrl}general/frame-top.png");
  }

}