.page-socials{
  position: absolute;
  top: -47px;
  right: 35px;
  width: auto;
  padding: 30px 20px;
  text-align: center;
  z-index: 10;
  opacity: 0;

  @include respond-max(1024){
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -83px;
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
    border: 3px solid $textColor;
    border-top: none;
    //background: url("#{$imgUrl}general/bg-mob.jpg")repeat-y top/100% auto;
    background: url("#{$imgUrl}general/bg.jpg")repeat-y bottom/100% auto;
    z-index: 110;
    &.work-page{
      background-position: center;
    }
  }
}

@media screen and (max-height: 800px) and (orientation: landscape){
  .page-socials{
    &:before{
      width: calc(100vw - 452px - 47px - 108px);
    }
  }
}

.page-socials__list{
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  @include font-size(17);  // 15px
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;

  @include respond-max(1024){
    @include display-flex();
    @include jc-space-between();
    width: 100%;
    max-width: 420px;
    &:before{
      content: '';
      display: block;
      //border: 1px dashed $textColor;
      background: url("#{$imgUrl}general/separator.svg")repeat-x center /cover;
      height: 2px;
      width: 100%;
      position: absolute;
      top: 10px;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;

    }
  }
  @include respond-max(768){
    &:before{
      width: calc(100% + 110px);
      left: -15px;
    }
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .page-socials__list {
   &:before{
     width: 100%;
     left: 0;
   }
  }
}

.page-socials__list-item{
  display: inline-block;
  margin: 0 15px;
  vertical-align: middle;
  @include transition-03();

  &:hover, &:focus, &:active{
    &:first-of-type{
      border: 2px solid #fff;
      background-color: rgba(50, 53, 54, 0.8);
      .page-socials__contact-link{
        color: #fff;
      }
    }
    .page-socials__list-link{
      svg{
        fill: #fff;
      }
    }
  }

  &.is-active{
    border: 2px solid #171819;
    background: rgba(247,246,245,0.8);
    @include box-shadow-custom();
    .page-socials__list-link{
      font-weight: 300;
    }
  }

  @include respond-max(1024){
    &:first-of-type{
      display: none;
    }
  }
}

.page-socials__list-link{
  display: block;
  svg{
    display: block;
    height: 25px;
    max-width: 30px;
    fill: $textColor;
    @include transition-03();
  }


  @include respond-max(1024){
    svg{
      max-width: 35px;
      height: 40px;
    }
  }
}

.page-socials__contact-link{
  display: block;
  color: $textColor;
  @include transition-03();
  letter-spacing: 1px;
  padding: 3px 20px
}
