.page-nav {
  position: absolute;
  top: 35px;
  top: 90px;
  left: -39px;
  width: auto;
  padding: 30px 0 50px;
  @include transition-04();
  z-index: 10;

  &.landing-page{
    opacity: 0;
  }
  @include respond-max(1024) {
    @include display-flex();
    @include jc-flex-center();
    @include ai-flex-center();
    position: fixed;
    top: 0;
    left: 0 !important;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0 !important;
    visibility: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
    background: url("#{$imgUrl}general/bg.jpg") no-repeat center /cover;
    -webkit-transform: translateX(100%) !important;
    -ms-transform: translateX(100%) !important;
    transform: translateX(100%) !important;

    &.is-active {
      opacity: 1 !important;
      visibility: visible !important;
      z-index: 100 !important;
      -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
      transform: translateX(0) !important;
    }
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .page-nav {
    &.is-active{
      padding: 100px;
    }
  }
}

.page-nav__list {
  @include transition-03();
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  @include font-size(17); // 15px
  font-weight: 600;
  text-transform: uppercase;

  @include respond-max(1025) {
    position: relative;
  }
  @include respond-max(1024) {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.page-nav__list-item {
  display: block;
  margin-bottom: 20px;
  max-width: 140px;
  position: relative;
  @include center();
  .page-nav__logo {
    width: 80px;
    img {
      width: 100%;
      @include transition(0.7s all ease);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-font-smoothing: subpixel-antialiased;
      -webkit-transform: perspective(1px) translate3d(0,0,0);
      transform: perspective(1px) translate3d(0,0,0);
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover, &:focus, &:active {
    .page-nav__logo{
      img{
        -webkit-transform: rotate(-180deg) translateY(-6px) scale(1.07);
        -ms-transform: rotate(-180deg) translateY(-6px) scale(1.07);
        transform: rotate(-180deg) translateY(-6px) scale(1.07);
      }
    }
    .page-nav__list-link {
      color: #fff;
    }
    &.is-active {
      .page-nav__list-link {
        color: $textColor;
      }
    }
  }
  &.is-active {
    border: 2px solid #171819;
    background: rgba(247, 246, 245, 0.5);
    padding: 3px 20px;
    @include box-shadow-custom();
    .page-nav__list-link {
      font-weight: 100;
    }
  }
  @include respond-max(1024) {
    max-width: 120px;
    margin-bottom: 4vh;
    @include center();
    &:first-of-type {
      display: none;
    }
  }
}

.page-nav__list-link {
  display: block;
  text-transform: uppercase;
  color: $textColor;
  letter-spacing: 2px;
  @include transition-03();

  &:hover, &:focus, &:active {
    .page-nav__list-svg {
      text {
        paint-order: stroke;
        stroke: #000;
        stroke-width: 2px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
      }
    }
  }
}
