.page-content__wrap.about-page {
  .page__frame {
    z-index: 0;
  }
}

.about__wrap {
  margin-top: -150px;
  padding-top: 150px;
  @include respond-max(1024) {
    padding-top: 150px;
  }
}

.about-row {
  @include display-flex();
  @include respond-max(1024) {
    @include flex-wrap();
  }
}

.about-row__heading {

}

.about-row__heading-item {
  width: 50%;
  max-width: 50%;
  @include respond-max(1024) {
    width: 100%;
    max-width: 100%;
  }
}

.about__heading {
  text-align: center;
  img {
    margin-left: auto;
    width: 90%;
    max-width: 500px;
  }
  @include respond-max(1200) {
    img {
      max-width: 300px;
    }
  }
  @include respond-max(1024) {
    position: relative;
    margin: 70px auto;
    padding-top: 40px;
    img {
      max-width: 90%;
    }
  }
}

.about__heading-info-wrap {
  padding-left: 70px;
  @include respond-max(1200) {
    padding-left: 30px;
    padding-right: 10px;
    width: 70%;
    max-width: 70%;
  }
  @include respond-max(1024) {
    padding: 0 30px;
    @include center();
    width: 100%;
    max-width: 100%;
  }
}

.about__heading-info {
  padding: 20px;
  max-width: 470px;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  @include respond-max(1024) {
    max-width: 90%;
    @include center();
    br {
      display: none;
    }
  }
}

.about-info__border-solid {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 70%;
  height: 70%;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  z-index: 0;
  &:before {
    content: '';
    display: block;
    height: 2px;
    width: 18px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:after {
    content: '';
    display: block;
    height: 18px;
    width: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.about-info__border-dashed {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40%;
  height: 60%;
  border-top: 2px dashed #000;
  border-left: 2px dashed #000;
  z-index: 0;
}

/*---------About People---------*/
.about-row__people {
  position: relative;
  margin-top: -30px;
  &:after {
    content: '';
    display: block;
    background: url('#{$imgUrl}general/separator-vertical.svg') repeat-y center /cover;
    width: 2px;
    height: 50px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
  }
  @include respond-max(1024) {
    margin-top: 30px;
    &:after {
      display: none;
    }
  }
}

.about-row__people-item {
  width: 100%;
  max-width: 100%;
}

.about-row__people-img {
  text-align: center;
  img {
    width: 100%;
    max-width: 180px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: perspective(1px) translate3d(0, 0, 0);
    transform: perspective(1px) translate3d(0, 0, 0);
  }
}

.about-row__people--left {
  position: relative;
  @include respond-max(1024) {
    .about-row__people-img {
      text-align: right;
    }
  }
}

.about-row__people-item--center {
  @include display-flex();
  @include ai-flex-end();
  @include jc-flex-center();
  padding-top: 55px;
  position: relative;
  width: 412px;
  max-width: 412px;
  @include flex(1 0 412px);

  @include respond-max(1024) {
    @include center();
    padding-top: 30px;
  }
}

.about-row__people-director {
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include size(150px, 60px);
  position: absolute;
  bottom: 45px;
  z-index: 1;
}

.about-row__people-project {
  left: 20px;
  @include animation(showreel, 25, -5, infinite);
  @include respond-max(1024) {
    bottom: -31px;
    z-index: -1;
    right: 154px;
    left: auto;
  }
}

.about-row__people-photography {
  right: 20px;
  @include animation(showreel, 20, -2, infinite);
  @include respond-max(1024) {
    bottom: -25px;
    z-index: -1;
    left: 154px;
  }
}

.about-row_people-brain {
  position: relative;

  img {
    width: 150px;
    @include animation(showreel, 25, 0, infinite);
  }
  .about-row_people-glow {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include transition-04();
    @include transform-origin(bottom);
  }

  &:hover, &:focus, &:active {
    .about-row_people-glow {
      opacity: 1;
      visibility: visible;
    }
  }
}

.about-row__people--right {
  padding-top: 50px;
  position: relative;
  @include respond-max(1024) {
    padding-top: 30px;
    .about-row__people-img {
      text-align: left;
    }
  }
}

.about__content-wrap {
  margin: 50px 0;
  position: relative;
  //&:after{
  //  content: '';
  //  display: block;
  //  background: url('#{$imgUrl}general/separator-vertical.svg')repeat-y center /cover;
  //  width: 2px;
  //  height: 50px;
  //  position: absolute;
  //  bottom: -50px;
  //  left: 0;
  //  right: 0;
  //  margin: auto;
  //}
  @include respond-max(1024) {
    margin-top: 80px;
  }
}

.about__content {
  padding: 20px 40px;
  text-align: center;
  max-width: 840px;
  margin: auto;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: perspective(1px) translate3d(0,0,0);
  transform: perspective(1px) translate3d(0,0,0);
  @include animation(titleExpand, 25, -9, infinite);
  @include respond-max(1200) {
    max-width: 80%;
  }
  @include respond-max(1024) {
    padding: 20px;
  }
}

.about-content__border-solid {
  position: absolute;
  bottom: -10px;
  right: -20px;
  width: 60%;
  height: 90%;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  z-index: 0;
  &:before {
    content: '';
    display: block;
    height: 2px;
    width: 18px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:after {
    content: '';
    display: block;
    height: 8px;
    width: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.about-content__border-dashed {
  position: absolute;
  top: -10px;
  left: -20px;
  width: 35%;
  height: 80%;
  border-top: 2px dashed #000;
  border-left: 2px dashed #000;
  z-index: 0;
}

.about-services__link-wrap {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.about-services__link {
  display: block;
  @include size(45px, 30px);
  @include center();
  z-index: 10;
  svg {
    @include size(45px, 30px);
  }
}