/*-------------Button-----------------*/
.button-svg {
  display: block;
  width: 20px;
  height: 15px;
  cursor: pointer;
  @include center();

  &.is-inactive {
    //opacity: 0.5;
    pointer-events: none;
  }
  & > * {
    @include transition-03();
  }

  &:hover {
    polygon.arrow-inner {
      fill: rgba(50, 53, 56, 0.8);
    }
    path.arrow-border {
      stroke: #fff;
      fill: #fff;
    }
    polygon.arrow-shadow {
      opacity: 0;
    }
  }
}