.contact-page__inner{
  @include display-flex();

  @include respond-max(1024){
    @include flex-wrap();
  }
}

.contact-inner__map-wrap{
  width: 60%;
  max-width: 60%;
  padding: 0 20px;
  @include respond-max(1024){
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.contact__heading{
  margin-bottom: 30px;
  position: relative;
  height: 90px;
  img{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  @include respond-max(1440){
    height: 70px;
  }
  @include respond-max(1024) {
    max-width: 90%;
    height: auto;
    margin: 70px auto;
    padding-top: 40px;
    img{
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      height: auto;
    }
  }
}

.contact-inner__map{
  position: relative;
  margin-left: -87px;
  //height: calc(100vh - 393px);
  height: calc(100vh - 427px);
  overflow: hidden;
  top: 5px;

  @include respond-max(1440){
    top: 25px;
  }
  @include respond-max(1024) {
    top: auto;
    margin: 0 -15px;
    height: auto;
  }
}

.contact-inner__map-img{
  position: absolute;
  bottom: -12px;
  left: -101px;
  width: auto;
  max-width: none;
  height: 100%;
  @include respond-max(1280){
    left: -174px;
  }
  @include respond-max(1024){
    left: auto;
    right: auto;
    bottom: auto;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.contact-inner__map-video{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  //width: inherit;
  //height: inherit;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1400px;
  height: auto;
}


/*Contact part*/

.contact-inner__content-wrap {
  width: 40%;
  max-width: 40%;
  padding: 0 20px;
  @include respond-max(1024){
    padding: 50px 0;
    width: 100%;
    max-width: 100%;
    @include display-flex();
    @include flex-wrap();
  }
}

.contact-inner__info{
  @include respond-max(1024){
    @include flex-order(1);
    width: 100%;
    max-width: 100%;
    padding-top: 30px;
  }
}

.contact-inner__content-item{
  text-align: center;
  margin-bottom: 15px;
  p{
    color: #000;
    margin-bottom: 0;
    font-weight: 500;
    span{
      display: inline-block;
      &:first-of-type{
        margin-right: 10px;
      }
    }
  }
}

/*FORM*/
.contact-inner__form-wrap{
  h4{
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  @include respond-max(1024){
    @include flex-order(0);
    width: 100%;
    max-width: 100%;
    h4{
      text-align: center;
    }
  }
}