.landing__animation-wrap {
  height: 70%;
  width: 100%;
  position: relative;
  //top: 31px;
  top: 60px;
  z-index: -1;

  video {
    min-height: 100%;
    min-width: 100vw;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include center();
    z-index: -1;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @include respond-max(1400) {
    top: 75px;
    video {
      width: 1450px;
    }
  }
  @include respond-max(1200) {
    top: 90px;
    video {
      width: 1250px;
    }
  }
  @include respond-max(1024) {
    top: 0;
    height: 60%;
    video {
      width: 1024px;
    }
  }
  @include respond-max(768) {
    top: 0;
    height: 60%;
    video {
      width: 768px;
    }
  }
  @include respond-max(576) {
    video {
      margin-left: 15px;
    }
  }
}

@media screen and (min-width: 2500px) and (min-height: 1800px) {
  .landing__animation-wrap {
    height: 30%;
  }
}

.landing-animation__overlay{
  position: absolute;
  min-width: 100vw;
  width: auto;
  height: auto;
  display: block;
  top: 50%;
  left: 50%;
  @include center();
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;

  @include respond-max(1920){
    min-width: 1930px;
  }
  @include respond-max(1400){
    min-width: 1450px;
  }
  @include respond-max(1200){
    min-width: 1250px;
  }
  @include respond-max(1024){
    min-width: 1024px;
    min-height: 500px;
  }
  @include respond-max(768){
    min-width: 768px;
    min-height: 443px;
  }
  @include respond-max(576){
    min-width: 776px;
    min-height: 439px;
    margin-left: 15px;
  }
}

/*---------production---------*/
.landing__production {
  position: relative;
  @include center();
  @include display-flex();
  @include jc-flex-center();
  width: 100%;

  @include respond-max(1400) {
    top: -30px;
  }
  @include respond-max(1200){
    top: -20px;
  }

  @include respond-max(1024) {
    top: -70px;
    &:before {
      content: '';
      display: block;
      //border: 1px dashed $textColor;
      background: url("#{$imgUrl}general/separator.svg")repeat-x center /cover;
      height: 2px;
      width: 100%;
      position: absolute;
      top: -30px;
      left: 0px;
      right: 0;
      margin: auto;
    }
  }
  @include respond-max(768) {
    &:before {
      left: -15px;
      width: calc(100vw + 80px);
    }
  }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
  .landing__production {
    top: 0;
    &:before {
      left: 0;
      width: 100%;
    }
  }
}

.landing__production-line {
  position: relative;
  top: 9px;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  &:before, &:after {
    content: '';
    display: block;
    background-color: #211e1f;
    position: relative;
    height: 2px;
  }
  @include respond-max(1024) {
    display: none;
    &:before, &:after {
      display: none;
    }
  }
}

.landing__production-line--left {

  &:before {
    width: 40%;
    margin-bottom: 15px;
    right: -20px;
    margin-left: auto;
  }
  &:after {
    width: 100%;
  }
}

.landing__production-line--right {

  &:before {
    width: 100%;
    margin-bottom: 15px;
  }
  &:after {
    width: 40%;
    margin-right: auto;
    left: -20px;
  }
}

.landing__production-text {
  max-width: 300px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 300px;
  @include flex(1 0 300px);
  opacity: 0;

  img {
    width: 300px;
  }
  @include respond-max(1024) {
    max-width: 280px;
    @include flex(1 0 280px);
    img {
      width: 280px;
    }
  }
}

.landing__production-play {
  display: inline-block;
  width: 30px;
  position: absolute;
  left: 96px;
  top: -4px;
  border: none !important;
  background-color: transparent;
  svg {
    width: 100%;
    height: 45px;
    @include transition-03();
    polygon {
      &.play-shadow, &.play-inner, &.play-border {
        @include transition(0.3s all ease);
      }
    }
  }

  &:hover, &:focus, &:active {
    .play-shadow {
      opacity: 0 !important;
    }
    .play-inner {
      fill: $textColor !important;
    }
    .play-border {
      stroke: #fff !important;
    }
  }
  @include respond-max(1024) {
    left: 91px;
    top: -4px;
    width: 26px;
    height: 39px;
  }
}

.landing__production-showreel {
  position: relative;
  left: -43px;
  @include center();
  margin-top: 20px;
  text-align: center;
  padding: 5px 10px;
  @include box-shadow-custom();
  background: rgba(247, 246, 245, 1);
  border: 2px solid $textColor;
  max-width: 105px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: perspective(1px) translate3d(0, 0, 0);
  transform: perspective(1px) translate3d(0, 0, 0);
  @include animation(showreel, 18, 0, infinite);
  opacity: 0;

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(247, 246, 245, 0);
    border-bottom-color: rgba(247, 246, 245, 1);
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(50, 52, 54, 0);
    border-bottom-color: #323436;
    border-width: 13px;
    margin-left: -13px;
  }

  span {
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: perspective(1px) translate3d(0, 0, 0);
    transform: perspective(1px) translate3d(0, 0, 0);
  }
}

/*----------Landing heading----------*/
.landing__heading {
  text-align: right;
  margin-left: auto;
  //color: #636566;
  color: $textColor;
  h2 {
    text-transform: uppercase;
    font-weight: 400;
  }

  &:before {
    top: 13px;
    left: -19px;
  }
  &:after {
    right: 32px;
    bottom: 15px;
  }

  @include respond-max(1024) {
    position: relative;
    top: -50px;
    left: auto;
    right: auto;
    margin: auto;
    width: 100%;
    text-align: center;
    &:before, &:after {
      display: none;
    }
    h2 {
      font-weight: 400;
    }
  }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
  .landing__heading {
    top: 0;
  }
}

.landing__heading--sm {
  font-size: 70%;

  @include respond-max(1024) {
    font-size: 100%;
  }
}

.landing__heading-line {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 2px;
  background-color: #636566;
  margin-left: 10px;

  @include respond-max(1024) {
    display: none;
  }
}

.landing__heading-row {
  display: block;
  padding-left: 50px;

  @include respond-max(1024) {
    display: inline-block;
    padding-left: 0;
  }
}