.header.landing-page{
  opacity: 0;
  @include translateY(-30px);
}

.page-content__wrap.landing-page {
  opacity: 0;
}

.landing__animation-video {
  opacity: 0;
}

.page-nav.landing-page {

  //@include respond-min(768){
    opacity: 0;
    @include transform-origin(bottom);
    @include translateX(50px);
  //}
}

.landing__frame-top-left{
  opacity: 0;
  @include transform-origin(left bottom);
  @include transform-scale(0, 1);
}

.page-socials.landing-page {
  opacity: 0;
  @include transform-origin(left);
  @include translateY(-50px);
}

.landing__frame-top-right {
  opacity: 0;
  @include transform-origin(left top);
  @include transform-scale(1, 0);
}

.landing__frame-bottom-right {
  opacity: 0;
  @include transform-origin(left top);
  @include transform-scale(1, 0);
}

.landing__frame-bottom {
  opacity: 0;
  @include transform-origin(right);
  @include transform-scale(0, 1);
}

.landing__frame-bottom-left {
  opacity: 0;
  @include transform-origin(bottom);
  @include transform-scale(1, 0);
}

.landing__production {
  opacity: 0;
  @include translateY(30px);
}

.landing__heading {
  opacity: 0;
  @include translateX(-50px);
}