.work-nav__pointer {
  position: absolute;
  top: 15px;
  left: 116px;

  @include respond-max(1024) {
    display: none;
  }
}

.work-nav__pointer-left {
  position: absolute;
  left: 10px;
  top: -60px;
  background: url("#{$imgUrl}general/separator-vertical.svg") no-repeat center/cover;
  width: 2px;
  height: 60px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: 60px;
    width: 15px;
    height: 2px;
    background: url("#{$imgUrl}general/separator.svg") no-repeat center /cover;
  }

  @include respond-max(1440) {
    top: -81px;
    height: 81px;
    &:before {
      top: 81px;
    }
  }
}

.work-nav__pointer-top {
  position: absolute;
  top: -60px;
  left: 10px;
  background: url("#{$imgUrl}general/separator.svg") repeat-x center /contain;
  width: calc(100vw - 140px - 152px);
  height: 2px;
  @include respond-max(1440) {
    top: -81px;
  }
}

.work-nav__pointer-right {
  position: absolute;
  left: calc(100vw - 140px - 138px);
  top: -60px;
  background: url("#{$imgUrl}general/separator-vertical.svg") no-repeat center/cover;
  height: 400px;
  width: 2px;

  @include respond-max(1440) {
    top: -81px;
  }
}

.work-nav__pointer-link {
  position: absolute;
  left: -8px;

  &.list-scroll__link--up {
    bottom: -17px;
  }
  &.list-scroll__link--down {
    bottom: -36px;
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .work-nav__pointer-top {
    width: calc(100vw - 140px - 125px);
  }
  .work-nav__pointer-right {
    left: calc(100vw - 140px - 114px);
  }
}

.work__heading {
  height: 90px;
  @include center();
  margin-bottom: 30px;
  opacity: 0;
  position: relative;
  img {
    display: block;
    @include center();
    width: auto;
    height: 100%;
  }

  @include respond-max(1440) {
    height: 70px;
  }
  @include respond-max(1024) {
    margin: 70px auto 70px;
    padding-top: 40px;
    height: auto;
    width: 90%;

    img {
      height: auto;
      width: 100%;
      @include animation(title-float, 25, 0, infinite);
      @include animation-timing-function(linear);
      @include animation-fill-mode(both);
    }
  }
  @include respond-max(576) {
    //margin-top: 50px;
  }
}

.work-list__wrap {
  position: relative;
  overflow: auto;
  width: calc(100% + 40px);
  max-height: 100%;
  //height: calc(100% - 102px);
  height: calc(100vh - 430px);
  //padding: 0 20px;
  padding-right: 40px;
  opacity: 0;

  @include respond-max(1440) {
    //height: calc(100% - 82px);
    height: calc(100vh - 430px);
  }
  @include respond-max(1024) {
    margin-bottom: 50px;
    height: auto;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .work-list__wrap {
    height: 486px;
  }
}

.work-list {
  @include display-flex();
  @include flex-wrap();
}

.work-list__item {
  position: relative;
  max-width: 25%;
  width: 25%;
  padding: 0 5px;
  margin-bottom: 20px;

  &:hover, &:focus, &:active {
    .work-list__item-content {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
    .work-list__item-img {
      img {
        @include transform-scale(1.05, 1.05);
      }
    }
    @include respond-max(768) {
      .work-list__item-content {
        @include translateY(0);
      }
    }
  }

  @include respond-max(1200) {
    width: 33.33%;
    max-width: 33.33%;
  }
  @include respond-max(1024) {
    width: 50%;
    max-width: 50%;
  }
  @include respond-max(768) {
    width: 100%;
    max-width: 100%;
  }
}

.work-list__item-img {
  overflow: hidden;
  border: 3px solid $textColor;
  @include display-flex();
  @include flex-direction-col();
  img {
    width: 100%;
    @include transition(0.5s all ease-in-out);
  }
}

.work-list__item-content {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  @include center();
  width: calc(100% - 16px);
  height: calc(100% - 6px);
  text-transform: uppercase;
  text-align: center;
  @include display-flex();
  @include flex-direction-col();
  @include jc-flex-center();
  padding: 20px 10px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  @include transition-03();
  @include transition-delay(0.2s);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  @include transform-origin(bottom);

  @include respond-max(768) {
    @include translateY(50%);
    @include transition(0.5s all ease-in-out);
    @include transition-delay(0);

    &.is-visible-mob {
      opacity: 1;
      visibility: visible;
      z-index: 1;
      @include translateY(0%);
    }
  }
}

.work-list__item-title {
  font-size: 17px;
  font-weight: 600;
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 80%;
    margin: 3px auto;
    background-color: #000;
  }
  @include respond-max(768) {
    &:after {
      //display: none;
    }
  }
}

.work-list__item-desc {
  font-size: 15px;
}

.work-list__item-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  @include square(100%);
  z-index: 2;
}