.work-nav__pointer{
  position: absolute;
  top: 15px;
  left: 100px;

  @include respond-max(1024){
    display: none;
  }
}

.work-nav__pointer-left{
  position: absolute;
  left: 10px;
  top: -60px;
  border: 1px dashed $textColor;
  width: 1px;
  height: 60px;
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 60px;
    width: 21px;
    height: 1px;
    border: 1px dashed $textColor;
  }

  @include respond-max(1440){
    top: -81px;
    height: 81px;
    &:before{
      top: 81px;
    }
  }
}

.work-nav__pointer-top{
  position: absolute;
  top: -60px;
  left: 10px;
  border: 1px dashed $textColor;
  width:  calc(100vw - 140px - 152px);
  height: 1px;
  @include respond-max(1440){
    top: -81px;
  }
}

.work-nav__pointer-right{
  position: absolute;
  left:  calc(100vw - 140px - 138px);
  top: -60px;
  border: 1px dashed $textColor;
  height: 400px;

  svg{
    position: absolute;
    bottom: -17px;
    left: -10px;
    display: block;
    margin: auto;
    width: 20px;
    @include transition-04();
    cursor: pointer;
  }

  &:hover{
    svg{
      @include transform-scale(1.1,1.1);
    }
  }

  @include respond-max(1440){
    top: -81px;
  }
}

@media screen and (max-height: 800px) and (orientation: landscape) {
  .work-nav__pointer-top {
    width: calc(100vw - 140px - 125px);
  }
  .work-nav__pointer-right{
    left: calc(100vw - 140px - 114px);
  }
}

.work__heading {
  height: 90px;
  @include center();
  margin-bottom: 30px;
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;

  img {
    display: block;
    @include center();
    width: auto;
    height: 100%;
  }

  @include respond-max(1440){
    height: 70px;
  }
  @include respond-max(1024){
   margin: 50px auto;
    height: auto;
    width: 90%;
    img{
      height: auto;
      width: 100%;
    }
  }
}

.work-list__wrap {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  height: calc(100% - 102px);
  padding: 0 20px;

  @include respond-max(1440){
    height: calc(100% - 82px);
  }
  @include respond-max(1024){
    margin-bottom: 50px;
    height: auto;
  }
}

.work-list {
  @include display-flex();
  @include flex-wrap();
  //height: 100%;
  //max-height: 100%;
  //overflow-y: scroll;
}

.work-list__item {
  position: relative;
  max-width: 25%;
  width: 25%;
  padding: 0 5px;
  margin-bottom: 20px;

  &:hover, &:focus, &:active {
    .work-list__item-content {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
    .work-list__item-img {
      img {
        @include transform-scale(1.05, 1.05);
      }
    }
  }

  @include respond-max(1200){
    width: 33.33%;
    max-width: 33.33%;
  }
  @include respond-max(1024){
    width: 50%;
    max-width: 50%;
  }
  @include respond-max(576){
    width: 100%;
    max-width: 100%;
  }
}

.work-list__item-img {
  overflow: hidden;
  @include display-flex();
  img {
    width: 100%;
    @include transition(0.5s all ease-in-out);
  }
}

.work-list__item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include center();
  width: calc(100% - 10px);
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  @include display-flex();
  @include flex-direction-col();
  @include jc-flex-center();
  padding: 20px 10px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  @include transition-03();
  @include transition-delay(0.2s);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.work-list__item-title {
  font-size: 17px;
  font-weight: 600;
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 80%;
    margin: 3px auto;
    background-color: #000;
  }
}

.work-list__item-desc {
  font-size: 15px;
}

.work-list__item-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  @include square(100%);
  z-index: 2;
}