$Avenir: 'Avenir Next Condensed', sans-serif;

$baseFontFamily: $Avenir;

@mixin font-size($size:18) {
  font-size: $size * 1px;
  font-size: ($size / $baseFontSize) * 1rem;
}

$baseFontSize: 18;
$baseFontSizePixel: $baseFontSize * 1px;

$baseLineHeight: 1.4;
$baseLetterSpacing: 0px;
$textColor: #323536;
$bodyBackground: #ece4dc;

$greyColor: #9e9e9e;

$fontsUrl: "../fonts/";
$imgUrl: "../img/";

